@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
	font-family: "Fira Sans",sans-serif !important;
	background-color: white;
}

h1, p {
    text-align: center;
}

div {
    font-size: 12px;
    background-color: white;
}

#div1 {
    background-color: white;
    overflow-y: scroll;
    float:left;
    width: 48%;
    height: 450px;
    max-height: 450px;
    padding: 10px;
    border: 1px solid #CCC;
}

#accordion, #div2 {
	background-color: white;
	display: inline-block;
    float:right;
    width: 48%;
    min-height: 450px;
    max-height: 450px;
    overflow: scroll;
    padding: 10px;
    border: 1px solid #CCC;
}

#div3 {
    background-color: white;
    display: inline-block;
    float: left;
    width: 800px;
    min-height: 300px;
    max-height: 500px;
    overflow: scroll;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display: none;
}

#editor {
	text-align: center;
    margin-top: 20px;

} 

.w3-button {
	background-color: red;
    font-size: 16px;
    margin-left: 28px;
    margin-top: 10px;
    text-align: center;
    /*text-decoration: none;
    display: inline-block;*/
}

span {
    color: #337ab7;
}

.choice_box {
    display: inline;
}

#box_convention {
    text-align: center;
}

.chosen-drop {
    width: 276px !important;
}

.select {
    background-color: white !important; 
}

#clause_container {
    width: 1350px;
    margin: auto;
    overflow: auto;
}
.options {
    margin-top: 50px;
    margin-left: -15px;
}

.row {
    cursor:pointer;
}

#convention-name {
    text-align: center;
}

.list-group {
    margin: auto;
    text-align: center;
    width: 500px;
    height: 62px;
    margin-top: 81px;
    font-size: 22px;
}

h1 {
    /*margin-top: 70px !important; */
}

#type-convention {
    /*background-color: rgb(45, 157, 224);*/
    color: black;
      margin: 13px 12px 12px 10px;

}

#type-list {
    /*background-color: rgb(255, 211, 0);*/
    color: black;
      margin: 13px 12px 12px 10px;

}

#create-convention {
    /*background-color: rgb(79, 214, 35);*/
    color: black;  margin: 13px 12px 12px 10px;

}

#convention-list {
    /*background-color: rgb(255, 0, 6);*/
    color: black;
      margin: 13px 12px 12px 10px;

}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    background-color: rgb(45, 157, 224) !important;
    color: white !important;
}

.form-control {
    width: 123% !important;
}

#cmd {
    background-color: #337ab7;
        display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
}

#type-name {
    text-align: center !important;
}
